package templates

import (
	"github.com/shsiddhant/mone-pore/internal/db"
	"github.com/shsiddhant/mone-pore/internal/route"
)

templ Layout(title string, quoteLines []string, navActionProps NavActionsProps) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="utf-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1"/>
			<!-- Link to Pico.css (Version 2) -->
			<link
				rel="stylesheet"
				href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
			/>
			<!-- Link to HTMX -->
			<script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.10/dist/htmx.min.js" integrity="sha384-H5SrcfygHmAuTDZphMHqBJLc3FhssKjG7w/CeCpFReSfwBWDTKpkzPP8c+cLsK+V" crossorigin="anonymous">
			</script>
			<title>{ title } - মনে পড়ে</title>
		</head>
		<body>
			@NavBar(navActionProps)
			<main class="container" style="padding-top: 0;">
				@QuoteBlock(quoteLines)
				{ children... }
			</main>
		</body>
	</html>
}

templ QuoteBlock(quoteLines []string) {
	<blockquote
		style="
			font-style: italic;
			color: var(--pico-muted-color);
			padding-left: 1rem;
			"
	>
		for i, line := range quoteLines {
			if i < len(quoteLines) - 1 {
				“ { line } ”
				<br/>
			} else {
				“ { line } ”
			}
		}
	</blockquote>
}

type NavItemComponent struct {
	templ.Component
}

type NavItemProps struct {
	Label    string
	Href     string
	Method   string
	IsActive bool
}

func NavItem(props NavItemProps) NavItemComponent {
	return NavItemComponent{
		Component: navItemTemplate(props),
	}
}

type NavActionsProps struct {
	NavItems []NavItemComponent
}

func NewNavActions(items ...NavItemComponent) NavActionsProps {
	return NavActionsProps{NavItems: items}
}

templ NavActions(props NavActionsProps) {
	for _, item := range props.NavItems {
		<li>
			@item.Component
		</li>
	}
}

templ NavBar(navActionProps NavActionsProps) {
	<style>
		#nav-actions .nav-action:not(.active) {
					color: var(--pico-muted-color);
					background-color: transparent;
					border-color: transparent;
				}
		#nav-actions .nav-action.active {
			color: var(--pico-primary) !important;
			font-weight: 600;
		}
		#nav-actions .nav-action:not(.active):hover {
					color: var(--pico-primary);
				}
		.nav-links.open { display: flex !important; }
		.menu-toggle { display: none; }
		@media (max-width: 768px) {
			.menu-toggle { display: block; }
			.nav-links li { width: 100%; text-align: right; padding-bottom: 0; margin: 0;}
			.nav-links { display: none !important; flex-direction: column; width: 100%; gap: 0.5rem; padding-top: 1rem; }
			.nav-links.open { display: flex !important; }
			nav { flex-wrap: wrap; }
			nav ul:last-child { justify-content: flex-start; }
		}
	</style>
	<header class="container">
		<nav>
			<ul>
				<li>
					<a href={ route.HomeURL() } style="text-decoration: none; display: inline-flex; align-items: center; justify-content: center; gap: 12px;">
						<h1
							style="
									font-size: 2.5rem;
									font-weight: 800;
									letter-spacing: -1px;
									color: var(--pico-primary);
									margin: 0;
									line-height: 1.1;
								"
						>
							মনে পড়ে
						</h1>
					</a>
				</li>
			</ul>
			<ul class="menu-toggle">
				<li>
					<button class="outline secondary" onclick="document.getElementById('nav-actions').classList.toggle('open')">
						Menu
					</button>
				</li>
			</ul>
			<ul id="nav-actions" class="nav-links">
				@NavActions(navActionProps)
			</ul>
		</nav>
	</header>
}

templ navItemTemplate(props NavItemProps) {
	{{
		var ariaCurrent string
		if props.IsActive {
			ariaCurrent = "page"
		}
	}}
	if props.Method == "POST" {
		<button
			hx-post={ props.Href }
			class={ "nav-action", templ.KV("active", props.IsActive) }
			aria-current={ ariaCurrent }
		>
			{ props.Label }
		</button>
	} else {
		<a
			href={ props.Href }
			class={ "nav-action", templ.KV("active", props.IsActive) }
			aria-current={ ariaCurrent }
		>
			{ props.Label }
		</a>
	}
}

func GlobalNavActions(activeURL string) NavActionsProps {
	itemProps := []NavItemProps{
		NavItemProps{Label: "Home", Href: route.HomeURL(), Method: "GET"},
		NavItemProps{Label: "New Journal", Href: route.NewJournalURL(), Method: "GET"},
	}

	components := []NavItemComponent{}

	for _, itemProp := range itemProps {
		if itemProp.Href == activeURL {
			itemProp.IsActive = true
		}
		components = append(components, NavItem(itemProp))

	}

	return NewNavActions(components...)

}

templ JournalItem(journal db.JournalSummary) {
	<a
		href={ route.JournalURL(journal.ID) }
		hx-get={ route.UnlockJournalURL(journal.ID) }
		hx-target="#unlock-modal"
		hx-swap="innerHTML"
	>
		{ journal.JournalName }
	</a>
}
