package templates

import "github.com/shsiddhant/mone-pore/internal/db"
import "github.com/shsiddhant/mone-pore/internal/route"

var homeQuoteLines = []string{
	`You can erase someone from your mind. Getting them out of your heart is another story.`,
}

templ Home(journals []db.JournalSummary, unlockedMap map[int64]bool) {
	@Layout(
		"Home",
		homeQuoteLines,
		GlobalNavActions(route.HomeURL()),
	) {
		<h2>Your Journals</h2>
		<ul>
			for _, journal := range journals {
				<li>
					@JournalItem(journal, unlockedMap[journal.ID])
				</li>
			}
		</ul>
		<div id="unlock-modal"></div>
	}
}
