package templates

import "github.com/shsiddhant/mone-pore/internal/db"

var homeQuote = `You can erase someone from your mind. Getting them out of your heart is another story.`

templ Home(journals []db.JournalSummary) {
	@Layout("Home", homeQuote, nil) {
		<h2>Your Journals</h2>
		<ul>
			for _, journal := range journals {
				<li>
					@JournalItem(journal)
				</li>
			}
		</ul>
		<div id="unlock-modal"></div>
	}
}
