package templates

import "github.com/shsiddhant/mone-pore/internal/db"
import "github.com/shsiddhant/mone-pore/internal/route"

var journalIndexQuoteLines = []string{
	`Joely? What if you stayed this time?`,
	`I walked out the door. There's no memory left.`,
}

func JournalNavActions(journalID int64, activeURL string) NavActionsProps {
	itemProps := []NavItemProps{
		NavItemProps{Label: "Timeline", Href: route.JournalURL(journalID), Method: "GET"},
		NavItemProps{Label: "New Memory", Href: route.NewMemoryURL(journalID), Method: "GET"},
		NavItemProps{Label: "Lock", Href: route.LockJournalURL(journalID), Method: "POST"},
	}

	components := []NavItemComponent{}

	for _, itemProp := range itemProps {
		if itemProp.Href == activeURL {
			itemProp.IsActive = true
		}
		components = append(components, NavItem(itemProp))

	}

	return NewNavActions(components...)
}

templ JournalIndex(journal db.Journal) {
	@Layout(
		journal.JournalName,
		journalIndexQuoteLines,
		JournalNavActions(journal.ID, route.JournalURL(journal.ID)),
	) {
		<main>
			<h1>{ journal.JournalName }</h1>
			<p>Journal unlocked successfully.</p>
			<p>
				<a href={ route.HomeURL() }>Back to journals</a>
			</p>
		</main>
	}
}
