package templates

import "github.com/shsiddhant/mone-pore/internal/db"
import "github.com/shsiddhant/mone-pore/internal/route"

var journalIndexQuoteLines = []string{
	`Joely? What if you stayed this time?`,
	`I walked out the door. There's no memory left.`,
}

func JournalNavActions(journalID int64, activeURL string) NavActionsProps {
	itemProps := []NavItemProps{
		NavItemProps{Label: "Timeline", Href: route.JournalURL(journalID), Method: "GET"},
		NavItemProps{Label: "New Memory", Href: route.NewMemoryURL(journalID), Method: "GET"},
		NavItemProps{Label: "Export JSON", Href: route.JournalJSONExportURL(journalID), Method: "GET"},
		NavItemProps{Label: "Lock", Href: route.LockJournalURL(journalID), Method: "POST"},
	}

	components := []NavItemComponent{}

	for _, itemProp := range itemProps {
		if itemProp.Href == activeURL {
			itemProp.IsActive = true
		}
		components = append(components, NavItem(itemProp))

	}

	return NewNavActions(components...)
}

templ FilterForm(journalID int64) {
	<form
		hx-get={ route.JournalURL(journalID) }
		hx-target="#timeline"
		hx-select="#timeline"
		hx-push-url="true"
		id="filter-form"
	>
		<fieldset class="grid">
			<div>
				<label for="from_date" style="font-weight: bold;">From</label>
				<input type="date" id="from_date" name="from"/>
			</div>
			<div>
				<label for="to_date" style="font-weight: bold;">To</label>
				<input type="date" id="to_date" name="to"/>
			</div>
		</fieldset>
		<fieldset style="display: flex; gap: 1rem; align-items: stretch;">
			<button
				type="reset"
				hx-get={ route.JournalURL(journalID) }
				hx-target="#timeline"
				hx-select="#timeline"
				hx-push-url="true"
			>
				Reset
			</button>
			<button type="submit" style="width: auto;">Filter</button>
		</fieldset>
	</form>
}

templ JournalIndex(journal db.Journal, memories []db.MemoryDetail) {
	@Layout(
		journal.JournalName,
		journalIndexQuoteLines,
		JournalNavActions(journal.ID, route.JournalURL(journal.ID)),
	) {
		<main>
			<h1>{ journal.JournalName }</h1>
			<details>
				<summary role="button" class="outline secondary" style="width: auto;">Filter</summary>
				@FilterForm(journal.ID)
			</details>
			<div id="timeline">
				@Timeline(journal, memories)
			</div>
			<p>
				<a href={ route.HomeURL() }>Back to journals</a>
			</p>
		</main>
	}
}
