package templates

templ GlobalCSSStyle() {
	<style>
		.sr-only {
			position: absolute !important;
			width: 1px !important;
			height: 1px !important;
			padding: 0 !important;
			margin: -1px !important;
			overflow: hidden !important;
			clip: rect(0, 0, 0, 0) !important;
			white-space: nowrap !important;
			border: 0 !important;
		}
		[class^="icon-"], [class*=" icon-"] {
			margin-left: 0.5rem;
			vertical-align: top;
			display: inline-block;
		}
		.journal-link {
			text-decoration: none !important;
		}
		.journal-link:hover,
		.journal-link:focus {
			text-decoration: underline !important;
		}
	</style>
}
