package templates

import (
	"github.com/shsiddhant/mone-pore/internal/db"
	"github.com/shsiddhant/mone-pore/internal/route"
)

type TimelineMap map[int]map[string][]db.MemoryDetail

type MonthGroup struct {
	Month    string
	Memories []db.MemoryDetail
}

type YearGroup struct {
	Year   int
	Months []MonthGroup
}

type TimelineGroups struct {
	Years []YearGroup
}

func BuildTimeline(memories []db.MemoryDetail) TimelineGroups {

	timeline := TimelineGroups{}

	for _, memory := range memories {
		year := memory.Memory.MemoryDate.Year()
		month := memory.Memory.MemoryDate.Month().String()

		// If a new year appears
		if len(timeline.Years) == 0 || timeline.Years[len(timeline.Years)-1].Year != year {
			timeline.Years = append(timeline.Years, YearGroup{Year: year})
		}

		yearIndex := len(timeline.Years) - 1

		// If a new month appears
		if len(timeline.Years[yearIndex].Months) == 0 ||
			timeline.Years[yearIndex].Months[len(timeline.Years[yearIndex].Months)-1].Month != month {

			timeline.Years[yearIndex].Months = append(
				timeline.Years[yearIndex].Months,
				MonthGroup{Month: month},
			)
		}

		monthIndex := len(timeline.Years[yearIndex].Months) - 1

		timeline.Years[yearIndex].Months[monthIndex].Memories = append(
			timeline.Years[yearIndex].Months[monthIndex].Memories,
			memory,
		)

	}

	return timeline

}

templ Timeline(journal db.Journal, memories []db.MemoryDetail) {
	for _, year := range BuildTimeline(memories).Years {
		<section>
			<h2>{ year.Year }</h2>
			for _, month := range year.Months {
				<hgroup><h3>{ month.Month }</h3></hgroup>
				<ul>
					for _, memory := range month.Memories {
						<li>
							<small><strong>{ memory.Memory.MemoryDate.Format("Jan 2") }</strong></small>
							<span>— </span>
							<a href={ route.MemoryURL(journal.ID, memory.Memory.ID) }>
								{ memory.Memory.Title }
							</a>
						</li>
					}
				</ul>
			}
		</section>
	}
}
