:root {
    --pico-font-family: "Atkinson Hyperlegible Next", sans-serif;
}

/* Light mode colors */
/* Same as memory.fm brand colors */

[data-theme="light"],
:root:not([data-theme="dark"]) {
    --pico-primary: #B40B08;
    --pico-primary-background: #B40B08;
    --pico-primary-border: #B40B08;
    --pico-primary-hover: #a80502;
    --pico-primary-hover-background: #a80502;
    --pico-primary-underline: #b40b0833;
}

@media only screen and (prefers-color-scheme: dark) {
    :root:not([data-theme="light"]) {
        --pico-primary: #FB9E98;
        --pico-primary-background: #B40B08;
        --pico-primary-border: #FB9E98;
        --pico-primary-hover: #fdbeb8;
        --pico-primary-hover-background: #a80502;
        --pico-primary-underline: #fb9e9833;
    }
}